<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<title>Home</title>
<style>
  .welcome-message {
    text-align: center;
    margin-top: 50px; /* Espaçamento adicional para afastar a mensagem da barra de navegação */
    font-size: 2em; /* Tamanho de fonte semelhante ao do título */
  }
  /* Adiciona espaço entre os botões */
  .btn-group > .btn {
    margin-right: 30px;
  }
</style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Calculadora de Desconto no Mercado Livre de Energia</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="https://energialivre.cemig.com.br/duvidas-frequentes/">Dúvidas?</a></li>
      <li><a href="http://calculadoramercadolivre.com.br/contato">Contato</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="welcome-message">
        <h1>Bem-vindo à Calculadora de Descontos do Mercado Livre!</h1>
        <p>Explore nosso projeto e simule seus descontos agora mesmo.</p>
        <div class="btn-group">
          <a href="http://calculadoramercadolivre.com.br/metodologia" class="btn" style="background-color: #A6A6A6; color: white;">Conheça o Projeto</a>
          <a href="http://calculadoramercadolivre.com.br/simulacao-preco" class="btn" style="background-color: #556B2F; color: white;">Faça a Sua Simulação</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Script JavaScript para fazer a solicitação POST -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    function calcular_resultado() {
        // Obtenha os dados do formulário
        var formData = new FormData();
        formData.append('dist', document.getElementById('dist').value);
        formData.append('subgrupo', document.getElementById('subgrupo').value);
        formData.append('modalidade', document.getElementById('modalidade').value);
        formData.append('InputDemandaHP', document.getElementById('InputDemandaHP').value);
        formData.append('InputDemandaHFP', document.getElementById('InputDemandaHFP').value);
        formData.append('InputConsumoHP', document.getElementById('InputConsumoHP').value);
        formData.append('InputConsumoHFP', document.getElementById('InputConsumoHFP').value);
        formData.append('ICMS', document.getElementById('ICMS').value);
        formData.append('PASEP', document.getElementById('PASEP').value);

        // Faz uma solicitação POST para a rota Flask
        axios.post('/simulacao-preco', formData).then(response => {
            // Exibe o resultado retornado pelo servidor
            console.log(response.data.result);
            // Faça o que quiser com o resultado retornado
        }).catch(error => {
            console.error('Erro ao fazer solicitação:', error);
        });
    }
</script>
</body>
</html>

